name = "prisma-d1-example"
main = "src/index.ts"
compatibility_date = "2024-03-20"
compatibility_flags = ["nodejs_compat"]
[observability]
enabled = true

[[d1_databases]]
binding = "DB" 
database_name = "veg-crm"    # from wrangler create output
database_id   = "a40f9688-5f82-401b-ba55-4f466a7a35af"
